*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#signupContainer{
    width: 100%;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 144, 237);
}

#signupFormBox{
    width: 50%;
    display: flex;
    min-height: 350px;
    align-items: center;
    background-color: rgb(31, 108, 196);
    color: whitesmoke;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#signupForm{
    width: 100%;
    min-height: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#signupForm label {
    display: block;
    width: 100%;
    padding: 0 1rem;
}
#signupForm input :not(type="radio"){
    display: block;
    padding: .2rem;
    width: 100%;
    margin-top: .5rem;
    border: none;
    outline: none;
}

#signupBtn{
    width: 25%;
    background-color: rgb(73, 150, 237);
    color: rgb(255, 255, 255);
    border : 2px solid rgb(216, 223, 231);
    padding: .7rem .3rem;
    text-align: center;
    cursor: default;
}

